@charset "utf-8";
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.btn1 {
	text-align: center;
}
a {
}
a:hover {
 color:#7ebbe3;
}
.btn1 a {
	font-size: 14px;
	line-height: 1.6;
	color: #fefefe;
	display: inline-block;
	padding: 6px 55px;
	color: #fefefe;
	letter-spacing: 0.1em;
	border: 1px solid #fefefe;
	text-decoration: none;
		-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
.btn1 a:hover {
 background:rgba(255,255,255,0.3);
 	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
	overflow: hidden;
	width: 100%;
}
.wrapper {width: 1000px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper660 {width: 660px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper770 {width: 770px;padding: 0 0px;margin: 0 auto;text-align: left;}
.wrapper900 {width: 900px;padding: 0 0px;margin: 0 auto;text-align: left;}
@media screen and (max-width: 1000px) {
	.wrapper660 {width: 92%;padding: 0 0px;margin: 0 auto;text-align: left;}
	.wrapper770 {width: 92%;padding: 0 0px;margin: 0 auto;text-align: left;}
	.wrapper900 {width: 92%;padding: 0 0px;margin: 0 auto;text-align: left;}
}
@media screen and (max-width: 1080px) {
	.wrapper {width: 92%;padding: 0 0px;margin: 0 auto;text-align: left;}
}

/* header
----------------------------------------------------------------------------------------------------*/

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:3;
	background: #000;
}
header h1 {
    float: left;
    padding-left: 120px;
    padding-top: 6px;
}
header nav {
    padding-right: 120px;
	float: right;
}

@media screen and (max-width: 1410px) {
	header h1 {
	    float: left;
	    padding-left: 60px;
	    padding-top: 6px;
	}
	header nav {
	    padding-right: 60px;
		float: right;
	}
}
@media screen and (max-width: 1150px) {
	header h1 {
	    float: left;
	    padding-left: 0px;
	    padding-top: 6px;
	}
	header nav {
	    padding-right: 0px;
		float: right;
	}
}

header nav ul li {
	display: inline-block;
	padding: 0;
	border-width: thin;
    width: 130px;
	text-align:center;
	position: relative;
}
header nav ul li a {
	display: block;
	font-size: 13px;
	padding: 26px 0px 29px 0px;
	text-decoration: none;
    letter-spacing: 0.1em;
	text-align: center;
	line-height:1.3;
 	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color:#fff!important;
}
header nav ul li.comp {
    width: 140px;
}


header nav ul li span.b {
	font-size: 15px;
	padding-left:3px;
	position: relative;
	top:1px;
	line-height:0;
}

header nav ul li a:hover {
	background: linear-gradient(90deg,#9d1319, #701419);
}
header nav ul li a.hover {
	background: linear-gradient(90deg,#9d1319, #701419);
}

header nav ul li a span {
	display: inline-block;
	font-size: 9px;
	padding-top:3px;
	letter-spacing:0em;	
}
@media screen and (max-width: 1330px) {
	header nav ul li {
		width: 100px;
	}
}
@media screen and (max-width: 1020px) {
	header h1 img {
		width: 300px;
	}
	header h1 {
	    padding-top: 9px;
	}
	header nav ul li {
	    width: auto;
	}
	header nav ul li a {
		padding: 26px 7px 29px 8px;
	}
}
@media screen and (max-width: 900px) {
	header h1 img {
		width: 165px;
	}
	header nav ul li a {
		padding: 26px 7px 29px 8px;
	}
	header h1 {
	    margin-top: 10px;
	    padding-left:10px;
	}
}



header nav ul li ul.drop {
      position: absolute;
      display: none;
      float: none;
      z-index: 99999;
      border: none;
      background: none;
      margin-right: 15px;
	  padding:12px 0 0;
	  width:auto;

}
header nav ul li ul.drop li {
	background: none;
    border: none;
    float: none;
    position: static;
    padding: 0px;
    display: block;
    width: 155px;
}
header nav ul li ul.drop li a {
    display: block;
    float: none;
    border-bottom: 1px solid #eee;
    background: white;
    text-align: center;
    width: auto;
    padding: 9px 7px 7px;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.6;
    /* text-align: left; */
    font-weight: normal;
	margin:0;
    font-size: 13px;
    font-size: 1.3rem;
}
header nav ul li ul.drop li:last-of-type a {
	  box-shadow: 0 3px 3px rgba(0,0,0,0.15);
border-bottom-left-radius : 7px;
-webkit-border-bottom-left-radius: 7px;
-moz-border-radius-bottomleft: 7px;
border-bottom-right-radius : 7px;
-webkit-border-bottom-right-radius: 7px;
-moz-border-radius-bottomright: 7px;
}


#main_contents{
	padding-top:62px;
}
#main_contents p {
	font-size: 15px;
	letter-spacing: 2px;
}
/* footer
----------------------------------------------------------------------------------------------------*/
footer {
	border-top:1px solid #fefefe;
	background: #000;
}
footer address {
	color:#fff;
	font-size: 14px;
	letter-spacing: 2px;
}
footer nav ul {
	display: table-cell;
	width: 33%;
	border-left:1px solid #aaa;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
}
footer nav ul li {
	padding:0 20px 0 25px;
	margin-bottom:4px;
}
footer nav ul li.sp-menu {
	display: none;
}
@media screen and (max-width: 1000px) {
	footer nav ul li {
		padding:0 3px 0 8px;
	}
	footer nav {
		float:right;
	}
}
footer nav ul li a {
	text-align: left;
	font-size: 12px;
	text-decoration: none;
	letter-spacing:0.13em;	
}
@media screen and (max-width: 1000px) {
	footer nav ul li a {
		font-size: 11px;
	}
	footer h2 img {
		width:100px;
	}
	footer h2 a img {
		width:160px;
	}
}

footer nav a:hover {
	text-decoration: underline;
}

footer .copy {
	font-size: 8px;
	color:#fff;
	margin-top: 40px;
    padding-bottom: 40px;
}
#page-top a {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: block;
	width: 128px;
}
/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
	width: 810px;
	float: left;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 50px;
}
#contents {
	margin: 0 auto;
	font-size: 14px;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 50px;
	background: #000;
}
#contents p {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.9;
}
#sidebar ul.bnr {
}
#sidebar ul.bnr li {
	margin-bottom: 20px;
}
#sidebar ul.bnr li a {
	display: block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#sidebar ul.bnr li a:hover {
	display: block;
	opacity: 0.80;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
	width: 100%;
	text-align: center;
}
#pagetitle {
	background: url(../../images/pagetitle.jpg) center top;
	background-size:cover;
	height:398px;
	position: relative;
}

#pagetitle .text {
	position: absolute;
	right:20px;
	top:47px;
}
#pagetitle .text img {
	/*width: 480px;*/
}


@media screen and (max-width: 1020px) {
#pagetitle .text {
	top:56px;
}
#pagetitle {
	height:240px;
}
#pagetitle .text img {
	width: 390px;
}
}
