@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sp {
	display: block;
}
html, body {
	width: 100%;
}
html {
	font-size: 62.5%;
}
body {
	text-align: center;
	color:#fefefe;
	line-height: 1.8;
	padding: 0px;
	font-family: Hiragino Sans,  "ヒラギノ角ゴシック",  Hiragino Kaku Gothic ProN,  "ヒラギノ角ゴ ProN W3",  Roboto,  "Droid Sans",  YuGothic,  "游ゴシック",  Meiryo,  "メイリオ",  Verdana,  "ＭＳ Ｐゴシック",  sans-serif;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/* link */
a {
	color: #221814;
}
a:link {
	color: #221814;
}
a:visited {
	color: #221814;
}
a:hover {
	color: #221814;
}
#outer {
	width: 100%;
	overflow: hidden;
}
.w100 {
	width: 100%;
}
.w70 {
	width: 70%;
}
.w50 {
	width: 50%;
}
.w40 {
	width: 40%;
}
.w30 {
	width: 30%;
}
.w20 {
	width: 20%;
}
.w10 {
	width: 10%;
}
.w05 {
	width: 5%;
}
rt {
	font-size:9px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 見出し設定 (ページ毎の調整はページで行う) 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.headline1 {
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	padding-bottom:4%;
	line-height:1.4;
}
.headline2 {
    font-size: 18px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    letter-spacing: 4px;
	justify-content: center;
}

.headline2:before, .headline2:after {
    content: "";
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #fefefe;
	width: 10px;
	height: 1px;
}
.headline2:before {
	margin-right: 1em;
}
.headline2:after {
	margin-left: 1em;
}

.headline3 {
	display: block;
	width: 62%;
	margin:0 auto;
	text-align:center;
    font-size: 16px;
    font-size: 1.6rem;
	border:1px solid #fefefe;
    letter-spacing: 4px;
    padding:1px 0;
}

.kome {
	text-align:left;
	font-size: 9px!important;
	letter-spacing: 1px!important;
	padding-top:5px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 リンクボタン
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* 色なし */
.linkbtn1 {
}
.linkbtn1 a {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 18px 30px 18px 35px;
	line-height: 1;
	border: 1px solid #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn1 a:hover {
	bord1er: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	background: rgba(255,255,255,0.2);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn1 a:after {
	content: '→';
	padding-left: 10px;
}
/* 色あり */
.linkbtn2 {
	text-align: center;
	margin-top: 40px;
}
.linkbtn2 a {
	display: inline-block;
	border: 1px solid #db4545;
	line-height: 1;
	font-size: 15px;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 20px 60px 20px 70px;
	color: #fff;
	text-decoration: none;
	background: #db4545;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn2 a:hover {
	background: #fff;
	color: #db4545;
	border: 1px solid #db4545;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn2 a:after {
	content: '→';
	padding-left: 10px;
}
.linkbtn3 {
}
.linkbtn3 a {
	background: #5796f2;
	text-decoration: none;
	padding: 6px 30px 6px 23px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 15px;
	font-size: 1.5rem;
	color: #fff;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	position: relative;
}
.linkbtn3 a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn4 {
}
.linkbtn4 a {
	border: 1px solid #999;
	text-decoration: none;
	padding: 8px 53px 8px 46px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 13px;
	font-size: 1.3rem;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	position: relative;
}
.linkbtn4 a::after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	margin-top: -3px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn4 a:hover {
	background: #fff;
	color: #db4545 !important;
	border: 1px solid #db4545 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.linkbtn5 {
}
.linkbtn5 a {
	border: 1px solid #d1d1d1;
	text-decoration: none;
	padding: 8px 98px 8px 91px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 13px;
	font-size: 1.3rem;
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	position: relative;
}
.linkbtn5 a::before {
	position: absolute;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	content: "";
	right: 10px;
	top: 15px;
}
.linkbtn5 a::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 15px;
	width: 3px;
	height: 3px;
	border-top: 1px solid #5796f2;
	border-right: 1px solid #5796f2;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.linkbtn5 a:hover {
	background: #db4546;
	color: #fff;
	border: 1px solid #db4545;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#pan {
	font-size: 11px;
	margin-bottom: 20px;
}
/*++++++++++++++++++++++++++++++
　　table
++++++++++++++++++++++++++++++*/

table.style01 {
	margin: 0 0px 20px;
	font-size: 13px;
	font-size: 1.3rem;
	width: 100%;
}
table.style01 th {
	text-align: left;
	width: 100%;
	display: block;
	padding: 2% 4% 0px 0;
	position: relative;
    font-weight: bold;
}
table.style01 .m {
	margin-left:2%;
}
table.style01 th em {
	color: #f00;
	padding-left: 5px;
}
table.style01 tr:first-of-type {
	border-bottom: 1px solid #fefefe;
}
table.style01 tr {
	border-bottom: 1px solid #fefefe;
}
table.style01 td {
	position: relative;
	display: block;
	padding: 0px 4% 2% 0;
	width: 100%;

}
table.style01 td .left {
	width: 80%;
	float:left;

}
table.style01 td .right {
	width: 100%;
}
table.style01 td .right a {
	font-size: 11px;
	margin-top:1%;
	font-size: 1.1rem;
    display: inline-block;
    padding: 4px 10px;
	border-radius: 25px;
    text-decoration: none;
    color: #5ba5d4;
    border:1px solid #5ba5d4;
    transition: .4s;
}



table.style02 {
	margin: 0 0px 20px;
	font-size: 13px;
	font-size: 1.3rem;
	width: 100%;
}
table.style02 th {
	text-align: left;
	width: 100%;
	display: block;
	padding: 2% 4% 0px 0;
	position: relative;
    font-weight: bold;
}
table.style02 .m {
	margin-left:2%;
}
table.style02 th em {
	color: #f00;
	padding-left: 5px;
}
table.style02 tr:first-of-type {
	border-bottom: 1px solid #fefefe;
}
table.style02 tr {
	border-bottom: 1px solid #fefefe;
}
table.style02 td {
	position: relative;
	display: block;
	padding: 0px 4% 2% 0;
	width: 100%;

}
table.style02 td .left {
	width: 100%;
	float:left;

}
table.style02 td .right {
	width: 100%;
}
table.style02 td .right a {
	font-size: 11px;
	margin-top:1%;
	font-size: 1.1rem;
    display: inline-block;
    padding: 4px 10px;
	border-radius: 25px;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    transition: .4s;
}



.privacy_cont {
	border: 1px solid #aaa;
	padding: 20px;
	height: 250px;
	overflow: scroll;
}
.contentBlockBody {
	margin-bottom: 20px;
}
.privacy_cont h4 {
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 5px;
}
.privacy_cont p {
	margin: 0 0 1em;
	font-size: 12px;
	font-size: 1.2rem;
}
.agree {
	text-align: center;
	margin: 20px 0 0;
}
.agree input {
	margin-right: 5px;
	position: relative;
	top: 1px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　 フォーム
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
form input[type="text"], input[type="mail"], textarea, select {
	padding: 5px 5px;
	font-size: 16px;
	font-size: 1.6rem;
x width: 100%;
}
form input[type="radio"] {
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	left: -7px;
	top: 1px;
}
form span.small {
	font-size: 12px;
	font-size: 1.2rem;
}
form .mt {
	margin-top: 10px;
}
form .wide {
	width: 500px;
}
form label {
	margin-right: 20px;
}
form .submit_btn {
	text-align: center;
	margin-top: 40px;
}
form .submit_btn input {
	cursor: pointer;
	background: #c30000;
	color: #fff;
	padding: 15px 60px;
	display: inline-block;
	border: none;
}
.mw_wp_form_confirm span {
	display: none;
}
form .error {
	color: #f00;
	font-size: 13px;
	font-size: 1.3rem;
	padding-left: 10px;
}
form .block label {
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
}
/*++++++++++++++++++++++++++++++
　　pager
++++++++++++++++++++++++++++++*/
.pagination {
	text-align: center;
}
.pagination .page, .pagination .page-numbers {
	display: inline-block;
	padding: 5px 7px 3px;
	margin-right: 3px;
	border: solid 1px #999999;
	font-size: 9px;
	text-decoration: none;
	color: #333;
	margin-top: 30px;
	margin-bottom: 40px;
}
.pagination .page-numbers.dots {
	border: none;
	background: none;
	box-shadow: none;
}
.pagination a {
	color: #5ba5d4;
}
.pagination .page:hover, .pagination .page.gradient:hover, .pagination .page-numbers:hover {
	background: #5ba5d4 !important;
	color: #fff!important;
	border: solid 1px #5ba5d4;
}
.pagination .page.active, .pagination .page-numbers.current {
	background: #5ba5d4;
	color: #fff!important;
	border: solid 1px #5ba5d4;
}
.pagination .page-numbers.dots:hover {
	background: none !important;
}
.pagination .page-numbers.current:hover {
	background: #5ba5d4 !important;
}
/*++++++++++++++++++++++++++++++
　アニメーション
++++++++++++++++++++++++++++++*/
.list-mv01 {
	opacity: 0;
	transform: translate(0, 60px);
	-webkit-transform: translate(0, 60px);
}
.mv01 {
	opacity: 1.0;
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}

/* 余白調整用
----------------------------------------------------------------------------------------------------*/
/* padding */
.pt_s {
  padding-top: 2%;
}
.pt {
  padding-top: 4%;
}
.pt_l {
  padding-top: 6%;
}
.pb_s {
  padding-bottom: 2%;
}
.pb {
  padding-bottom: 4%;
}
.pb_l {
  padding-bottom: 6%;
}

/* margin */
.mt_s {
  margin-top: 2%;
}
.mt {
  margin-top: 4%;
}
.mt_l {
  margin-top: 6%;
}
.mb_s {
  margin-bottom: 2%;
}
.mb {
  margin-bottom: 4%;
}
.mb_l {
  margin-bottom: 6%;
}

/* font-size */
.fsize_xl {
    font-size: 18px;
    font-size: 1.8rem;
}

.fsize_l {
    font-size: 16px;
    font-size: 1.6rem;
}

.fsize {
    font-size: 14px;
    font-size: 1.4rem;
}

.fsize_s {
    font-size: 12px;
    font-size: 1.2rem;
}

.fsize_xs {
    font-size: 10px;
    font-size: 1.0rem;
}

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em;
}
div.textbox p:last-child {
  margin-bottom: 0;
}
.text_center  {
	text-align:left;
}
