@charset "utf-8";

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.btn1 {
    text-align: center;
}

a {}

a:hover {
    color: #7ebbe3;
}

.btn1 a {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #fefefe;
    display: inline-block;
    padding: 10px 20px;
    width: 76%;
    color: #fefefe;
    letter-spacing: 0.1em;
    border: 1px solid #fefefe;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.btn1 a:hover {
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　レイアウト（ヘッダー / サイド / フッター）
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* wrapper
----------------------------------------------------------------------------------------------------*/
#outer {
    overflow: hidden;
    width: 100%;
}

.wrapper {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper660 {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper770 {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

.wrapper900 {
    width: 92%;
    padding: 0 0px;
    margin: 0 auto;
    text-align: left;
}

/* header
----------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
    background: #000;
    padding: 3px 0;
    z-index: 9999;
    position: fixed;
}

header .sp-menu {
    z-index: 9999;
}

header .top {
    padding-top: 22px;
    padding-bottom: 18px;
    width: 100%;
    font-size: 13px;
}

header h1 {
    color: #585755;
    font-size: 13px;
    text-align: left;
    padding: 5px 2% 5px 2%;
}

header h1 img {
    width: auto;
    height: 33px;
}

header .menu {
    height: 33px;
    text-align: right;
    overflow: hidden;
    position: absolute;
    top: 13px;
    right: 10px;
}

header .menu img {
    padding: 0px 5px 0 0;
}

#closeMenu {
    display: none;
    z-index: 10001;
}

#openMenu img,
#closeMenu img {
    width: 30px;
    height: auto;
    z-index: 10001;
}

#overray {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 50px;
}

#closeMenu {
    display: none;
}

#layerMenu {
    border-top: 1px solid #ccc;
    margin-top: 49px;
    position: absolute;
    top: 0px;
    display: none;
    width: 100%;
    z-index: 10010;
    background: rgba(50, 32, 10, 1);
}

/* メニュー */
header nav ul {
    overflow: hidden;
    background: #000;
    width: 100%;
}

header nav ul li {
    padding: 1% 0;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-bottom: #ccc solid 1px;
}

header nav ul li a {
    color: #fff !important;
    font-size: 13px;
    text-decoration: none;
    padding: 1.5% 2% 1.5% 4%;
    display: block;
    position: relative;
    text-align: left;
    overflow: hidden;
}

header nav ul li a::after {
    position: absolute;
    top: 50%;
    right: 11px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* footer
----------------------------------------------------------------------------------------------------*/

section.bottom_menu {
    margin-bottom: 18%;
}

section.bottom_menu ul {
    display: table;
    width: 100%;
    color: #fefefe;
    text-align: center;
}

section.bottom_menu ul li {
    height: 210px;
    width: 100%;
    display: block;
    padding: 59px 0 45px
}

section.bottom_menu ul li.cont1 {
    background: url(../../images/index_menu01.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li.cont2 {
    background: url(../../images/index_menu02.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li.cont3 {
    background: url(../../images/index_menu03.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li.cont4 {
    background: url(../../images/index_menu04.jpg) no-repeat top center;
    background-size: cover;
}

section.bottom_menu ul li h4 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3em;
    line-height: 1.5;
}

section.bottom_menu ul li h5 {
    font-size: 9px;
    letter-spacing: 0.05em;
    margin-bottom: 4%;
    font-weight: 400;
}

section.bottom_menu ul li p {
    margin-bottom: 0;
}


/* お問い合わせ */
section.bottom_contact {
    text-align: center;
    padding-bottom: 8%;

}

section.bottom_contact h2 {
    font-size: 17px;
    margin-bottom: 0px;
    letter-spacing: 0.13em;

    line-height: 1.3;
}

section.bottom_contact h2 span {
    font-size: 9px;
    display: block;
    margin-top: 3px;
    letter-spacing: 0em;
}

section.bottom_contact p.btn {}

section.bottom_contact p.btn a {
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
    padding: 10px 20px;
    width: 76%;
    letter-spacing: 0.13em;
    background: #221814;
    color: #fff;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #221814;

}

section.bottom_contact p.btn a:hover {
    background: #fff;
    color: #221814;
    border: 1px solid #221814;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

section.bottom_contact h3 {
    font-size: 9px;
}

section.bottom_contact p.tel {
    font-size: 11px;
}

section.bottom_contact p.tel a {
    text-decoration: none;
}

section.bottom_contact p.tel a:hover {
    color: #221814;
    cursor: default;
}

footer {
    border-top: 1px solid #aaa;
    padding-top: 4%;
    padding-bottom: 4%;
    background: #000;
    color: #fefefe;

}

footer .wrapper {
    width: 100%;
}

footer .left {
    width: 100%;
}

footer h2 {
    margin-bottom: 4%;
    text-align: center;
}

footer h2 img {
    vertical-align: top;
}

footer address dl {
    padding: 0 4%;

}

footer address dl dt {
    border: 1px solid #aaa;
    display: inline-block;
    padding: 5px 15px;
    font-size: 11px;
    line-height: 1.2;
    margin-bottom: 5px;
}

footer address dl dd {
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 23px;
}

footer address dl dd a {
    text-decoration: none;
}

footer nav {
    border-top: 1px solid #aaa;
    margin-bottom: 4%;
}

footer nav ul {
    margin: 0 0% 0%;
}

footer nav ul li {
    background: #000;
    padding: 0% 0%;
    width: 100%;
}

footer nav ul li {
    display: none;
}

footer nav ul li.sp-menu {
    display: block;
}


footer nav ul li a {
    text-align: left;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #aaa;
    color: #fff !important;
    padding: 2% 4%;
    position: relative;
    font-size: 13px;
    font-size: 1.3rem;
}

footer nav ul li a::after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer h2 a img {
    width: 210px;
}

footer h2 img {
    width: 80px;
}

footer .copy {
    font-size: 8px;
    margin-top: 12%;
}

#page-top a {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 128px;
}

/* contents（コンテンツ共通設定）
----------------------------------------------------------------------------------------------------*/
#contents.col2 {
    width: 810px;
    float: left;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 8%;
}

#contents {
    margin: 0 auto;
    font-size: 13px;
    font-size: 1.4rem;
    text-align: left;
    padding-bottom: 4%;
    background: #000;
    color: #fefefe;

}

#contents p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
}

#sidebar ul.bnr {}

#sidebar ul.bnr li {
    margin-bottom: 20px;
}

#sidebar ul.bnr li a {
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar ul.bnr li a:hover {
    display: block;
    opacity: 0.80;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80 )";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* 下層共通
----------------------------------------------------------------------------------------------------*/
/* ページタイトル */
#pagetitle {
    width: 100%;
    text-align: center;
}

#pagetitle {
    background: url(../../images/pagetitle.jpg) center top;
    background-size: cover;
    height: 130px;
    position: relative;
    margin-top: 49px;
}

#pagetitle .text {
    position: absolute;
    right: 4%;
    top: 19%;
}

#pagetitle .text img {
    width: 250px;
}

@media screen and (max-width:400px) {
    #pagetitle .text {
        top: 22%;
    }

    #pagetitle .text img {
        width: 230px;
    }
}
