@charset "utf-8";

/* index
----------------------------------------------------------------------------------------------------*/
/* mainimg */

#mainvisual {
    position: relative;
    height: 291px !important;
    margin-top: 49px;
}

#mainvisual #vegas-msg .text1 img {
    position: absolute;
    top: 8%;
    right: 0;
    width: 230px;
}

#mainvisual #vegas-msg .text2 img {
    position: absolute;
    top: 4%;
    right: 0px;
    width: 95px;
}


#page_index section.kodawari .photo1 {
    background: url(../../images/index_kodawari_photo1.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    height: 200px;
}

#page_index section.kodawari h4 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    padding: 8% 0 4%;
    width: 92%;
    margin: 0 auto;
}

@media screen and (max-width: 560px) {
    #page_index section.kodawari h4 {
        text-align: left;
    }
}

#page_index section.kodawari p {
    text-align: left;
    width: 92%;
    margin: 0 auto;

}

#page_index section.kodawari .photo2 {
    background: url(../../images/index_kodawari_photo2.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    height: 200px;
}

#page_index section.bottom .photo {
    background: url(../../images/index_bottom_photo.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    height: 130px;
}

@media screen and (max-width:400px) {
    #page_index section.bottom .photo {
        height: 100px;
    }

}

#page_index section.bottom h3 {
    width: 92%;
    margin: 0 auto;
}

@media screen and (max-width: 560px) {
    #page_index section.bottom h3 {
        text-align: left;
    }
}

#page_index section.bottom h4 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    padding: 8% 0 4%;
    width: 92%;
    margin: 0 auto;
}

@media screen and (max-width: 560px) {
    #page_index section.bottom h4 {
        text-align: left;
    }
}

#page_index section.bottom p {
    text-align: left;
    width: 92%;
    margin: 0 auto;
}

#page_index section.news .outer {
    border: 1px solid #fefefe;
    padding: 0 4% 4%;
}

#page_index section.news h3 {
    font-size: 13px;
    border-left: 1px solid #aaa;
    margin-bottom: 0px;
    letter-spacing: 5px;
    padding-left: 9px;
    line-height: 1.8;
}

#page_index section.news h3 span {
    font-size: 9px;
    display: inline-block;
    padding-left: 5px;
    letter-spacing: 0em;
}

#page_index section.news dl {
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
    letter-spacing: 1px;
    border-bottom: 1px dotted #fff;
    font-size: 14px;
    line-height: 1.4;
}

#page_index section.news dl dt {
    width: 100%;
    font-size: 11px;
}

#page_index section.news dl dd {
    float: left;
    width: 100%;
}

#page_index section.news a {
    text-decoration: none;
    color: #fff;
}

#page_index section.news a:hover {
    color: #fff;
}

#page_index section.news .btn1 {
    margin-top: 40px;
    margin-bottom: 0;
}

#page_index section.news .btn1 a {
    color: #221814;
    border: 1px solid #221814;
}

/* menu
----------------------------------------------------------------------------------------------------*/
#page_menu section.menu .menu_item img {
    width: 100%;
    height: auto;
}

#page_menu section.menu .menu_price {
    width: 100%;
    font-size: 13px;
}

#page_menu section.menu .menu_price .left {
    width: 100%;
}

#page_menu section.menu .menu_price .right {
    width: 100%;
}

#page_menu section.menu .menu_price .dot {
    letter-spacing: -7px;
}

#page_menu section.menu .menu_price dl {
    width: 100%;
    position: relative;
}

#page_menu section.menu .menu_price dl:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 12px 0 0 0;
    background-image: linear-gradient(to right, #fefefe, #fefefe 1px, transparent 1px, transparent 2px);
    background-size: 6px 2px;
    background-position: top;
    background-repeat: repeat-x;
}

#page_menu section.menu .menu_price dl dt {
    width: 50%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#page_menu section.menu .menu_price dl dd {
    width: 50%;
    float: left;
    position: relative;
    text-align: right;
}

#page_menu section.menu .menu_price .item_name {
    background: #000;
    position: relative;
    z-index: 9999;
    padding-right: 5px;
}

#page_menu section.menu .menu_price .price_name {
    background: #000;
    position: relative;
    z-index: 9999;
    padding-left: 15px;
}

#page_menu section.menu .line-top {
    border-top: 1px solid #fefefe;
}



/* event
----------------------------------------------------------------------------------------------------*/
#page_event section.event img {
    width: 100%;
    height: auto;

}

/* shop
----------------------------------------------------------------------------------------------------*/
#page_shop section.shop img {
    width: 100%;
    height: auto;
}

#page_shop section.shop .outer {
    width: 100%;
}

#page_shop section.shop .outer .left {
    width: 100%;
    margin-bottom: 6%;
}

#page_shop section.shop .outer .right {
    width: 100%;
}

#page_shop section.shop .bottom img {
    width: 42%;
    margin: 0 auto;
    display: block;
}

#page_shop section.shop iframe {
    width: 100%;
    height: 250px;
    vertical-align: bottom;
}

#page_shop section.shop .map {
    padding-top: 0px;
}

#page_shop section.shop table.style01 th span {
    letter-spacing: 7px;
}


/* company
----------------------------------------------------------------------------------------------------*/
#page_company section.company .wrapper img {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 160px;
}

#page_company section.company .wrapper h3 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 4px;
}

#page_company section.company .wrapper p {
    text-align: left;
    width: 92%;
    margin: 0 auto;
}


/* page_information
----------------------------------------------------------------------------------------------------*/
#page_information section.information {
    padding: 4% 0px;
}

#page_information section.information a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff !important;

}

#page_information section.information a:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

#page_information section.information dl {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #fff;
}

#page_information section.information dl dt {
    font-size: 11px;
    font-size: 1.1rem;
    width: 100%;
}

#page_information section.information dl dd {
    font-size: 13px;
    font-size: 1.3rem;
    width: 100%;

}

#page_information section.information dl dd a {
    text-decoration: none;
}

/* contact
----------------------------------------------------------------------------------------------------*/
#page_contact h3.headline {
    text-align: center;
    width: 100%;
    margin: 0px auto 8%;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 12px 0px;
}

.mw_wp_form_confirm h3.headline {
    display: none;
}

.mw_wp_form_confirm h4.headline-confirm {
    display: block !important;
    text-align: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    width: 100%;
    margin: 8% auto;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 12px 0px;
    text-align: left;
}

#page_contact section h2 {
    margin-bottom: 25px;
    text-align: center;
}

#page_contact section p.text {
    text-align: center;
    margin-bottom: 30px;
    line-height: 2;
}

#page_contact section.form form {}

input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;

}

#page_contact section.form form table {
    width: 100%;
    margin: 0 auto;
}

#page_contact section.form form table th {
    font-size: 15px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    padding-top: 15px;
    text-align: left;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
}

#page_contact section.form form table th em {
    color: #fff;
    font-size: 10px;
    font-size: 1.0rem;
    display: inline-block;
    padding: 5px 10px 4px;
    margin-top: -3px;
    color: #e50011;
}

#page_contact section.form form table td {
    display: block;
    width: 100%;
    padding: 0px 0px 10px;
    font-size: 15px;
    font-size: 1.5rem;
}

#page_contact section.form form table td input[type=text] {
    padding: 3px 8px;
    width: 100%;
}

#page_contact section.form form table td input[type=radio] {
    padding-right: 10px;
    display: inline-block;
}

#page_contact section.form form table td label {
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
}

#page_contact section.form form table td textarea {
    padding: 10px;
    width: 100%;
}

#page_contact section.form form p.submit {
    text-align: center;
    margin: 20px 0 20px;
}

.mw_wp_form_confirm form p.submit {
    margin: 40px 0 20px !important;
}

#page_contact form p.submit input {
    border: 1px solid #fefefe;
    background: #000;
    color: #fefefe;
    padding: 7px 30px;
    cursor: pointer;
    padding: 9px 30px;
    width: 84%;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 2% !important;
}

#page_contact form p.submit input:hover {
    background: #fefefe;
    color: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page_contact form p.submit input:after {
    content: '→';
    padding-left: 10px;
}

#page_contact section.form .privacy {
    text-align: center;
    margin-bottom: 6%;
}

#page_contact section.form .privacy a {
    color: #000;
}

#page_contact section.form .privacy label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    cursor: pointer;
}

#page_contact section.form .privacy label input {
    position: relative;
    top: 2px;
}

.mw_wp_form_confirm em {
    display: none !important;
}

.mw_wp_form_confirm td {
    border-bottom: 1px solid #000;
}

.mw_wp_form_confirm .submit input {
    margin: 0 10px !important;
}

section.form .mw_wp_form_confirm form table th {
    padding-bottom: 2%;
    border-bottom: 1px solid #fefefe;

}

section.form .mw_wp_form_confirm form table td {
    padding-top: 2%;

}

/* single
----------------------------------------------------------------------------------------------------*/

ul.page_link {
    padding-top: 30px;
    margin-bottom: 30px;
}

ul.page_link li a {
    font-size: 13px;
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}

ul.page_link li a:hover {
    background: #efefef;
}

ul.page_link li.prev {
    float: left;
}

ul.page_link li.next {
    float: right;
}

.entry-date {
    width: 100%;
    float: left;
    padding: 8px 0px 0px;
    font-size: 10px;
}

.entry-title {
    width: 100%;
    float: left;
}

#page_single article {
    padding: 0 160px;
    margin-top: 60px;
}

@media screen and (max-width: 1000px) {
    #page_single article {
        padding: 0 0px;
    }
}

.news_entry .entry-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.news_entry .entry-header h3 {
    font-size: 13px;
    padding: 0px 0px 5px;
}

.news_entry .entry-content {
    padding-left: 0%;
    padding-top: 4%;
}

.news_entry .entry-content h3 {
    font-weight: bold;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.news_entry .entry-content h4 {
    font-weight: bold;
    border-left: 2px solid #fff;
    line-height: 1.2;
    margin-bottom: 3px;
    padding-left: 10px;
}

.news_entry .entry-content span.bold {
    font-weight: bold;
}

.news_entry .entry-content img {
    max-width: 100%;
    margin-bottom: 10px;
}

.news_entry .entry-content p {
    margin-bottom: 10px;
    font-size: 14px !important;
    font-size: 1.4rem !important;
}

#page_single .linkbtn {
    text-align: center;
    margin-bottom: 20px;
}

#page_single .linkbtn a {
    border: 1px solid #fff;
    color: #fff;
    padding: 7px 24px;
    width: 84%;
    margin: 0 auto;
    display: block;
    font-size: 11px;
    font-size: 1.1rem;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* 404
----------------------------------------------------------------------------------------------------*/

section.page404 {
    padding: 60px 0 120px;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
}

section.page404 a {
    color: #000;
}
